Package: com.Whited00r.roundtoggles
Name: RoundToggles
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Whited00r
Author: Whited00r
Section: Tweaks
